@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Projekt z Baz Danych 2 - VRS - Video Rental Store  </h2>
    <h4> Jacek Piotrowski 235849</h4>
    <h4> Mateusz Fudala 235849</h4>
    <h4> Łukasz Szumials 235849</h4>
    
</div>

