@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h2 class="">   </h2>
</div>*@

<div class="jumbotron">
    <h1 class="display-3" style="color:#e53a56 ">VRS - Video Rental Store</h1>
</div>